html,
body,
#page-wrap,
#root,
#outer-container {
  height: 100%!important;
}

/* #map { height: 100vh!important; width: 100%!important;} */
#map {
  min-height: 100%;
  width: 100%;
}

.beautify-marker.circle {
  display: flex;
  font-size: 1em;
  line-height: 1;
  align-items: center;
  border: none!important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.Toastify__close-button{
  /* font-size: 2px!important; */
  padding: 8px 8px 20px 20px!important;
  margin: -8px -8px 0 0!important;
}


.marker-cluster-small {
  height: 40px!important;
  width: 40px!important;
    border-radius: 100px!important;
	}
.marker-cluster-small div {
  height: 30px!important;
  width: 30px!important;
    border-radius: 100px!important;
	}

.marker-cluster-medium {
  height: 45px!important;
  width: 45px!important;
    border-radius: 100px!important;
	}
.marker-cluster-medium div {
  height: 35px!important;
  width: 35px!important;
    border-radius: 100px!important;
	}

.marker-cluster-large {
  height: 50px!important;
  width: 50px!important;
    border-radius: 100px!important;
	}
.marker-cluster-large div {
  height: 40px!important;
  width: 40px!important;
    border-radius: 100px!important;
  }
  
  .marker-cluster span {
    font-size: 1rem;
    /* line-height: 40px; */
    font-weight: 600;
}
  
  .marker-cluster div {
    /* font-size: 1rem; */
    /* line-height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: 800; */
}

